/data/input/mtmc/2015/MZMV_2015_Kombiniert_Analysen.sav
/data/input/mtmc/2015/zielpersonen.csv
/data/input/mtmc/2015/haushalte.csv
/data/output/data/estimation/nb_trips.csv
/data/output/data/validation/estimation/nb_trips80.csv
/data/input/mtmc/2015/haushaltspersonen.csv
